.nav__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 35px;
}

.nav__links {
  display: flex;
  position: absolute;
  top: 30px;
  right: 80px;
  column-gap: 20px;
  list-style-type: none;
}
.nav__link {
  color: #2f80ed;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
